<%
=begin%>
 <%= stylesheet_link_tag "category_index" %> 
<%
=end%>
<section class='categories-section'>
<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category do %>
      <%= render category %>
    <% end %>
  <% end %>
</div>

<div class="btn-container">
  <%= link_to "New category", new_category_path, class: 'btn btn-block' %>
</div>
</section>